{% extends 'base.html' %}

{% block title %}
    Project Alpha
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Are you sure?</h1>
            <form method="post">
                {% csrf_token %}
                <button>Delete</button>
            </form>
        </div>
    </main>
{% endblock content %}
