{% extends 'base.html' %}

{% block title %}
    Project Alpha
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ todo_item.name }}</h1>
            <h2>Tasks</h2>
            <p>
                <nav>
                    <a href="{% url 'todo_list_update' todo_item.id %}">Edit</a>
                </nav>
            </p>
            <p>
                <nav>
                    <a href="{% url 'todo_list_delete' todo_item.id %}">Delete</a>
                </nav>
            </p>
            <p>
                <nav>
                    <a href="{% url 'todo_item_create' %}">Create a new item</a>
                </nav>
            </p>
            <p>
                <nav>
                    <a href="{% url 'todo_item_update' todo_item.id %}">Update item</a>
                </nav>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_item.items.all %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_list_update' todo_item.id %}">{{ item.task }}</a>
                            </td>
                            <td>{{ item.due_date|date:"M dS Y" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
