{% extends 'base.html' %}

{% block title %}
    Project Alpha
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <nav>
                    <a href="{% url 'todo_list_create' %}">Create List</a>
                </nav>
            </p>
            <p>
                <nav>
                    <a href="{% url 'todo_item_create' %}">Create a new item</a>
                </nav>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_list.all %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_list_detail' item.id %}">{{ item.name }}</a>
                            </td>
                            <td>{{ item.items.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
